<!DOCTYPE html>
<html lang="cs">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inizio SEO Scraper</title>
</head>
<body>

    <h1>Google Organické Vyhledávání</h1>
    <p>Zadejte klíčové slovo pro stažení dat (JSON)</p>

    <form method="POST" action="/">
        <!-- Atribut 'name' je klíčový, podle něj to Python pozná -->
        <input type="text" name="klicove_slovo" placeholder="Např. Inizio" required>
        <br>
        <button type="submit">Získat data</button>
    </form>

</body>
</html>